body{
    background-color: #2a2b2b;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin-top: 20px;
}

/* -------------------------------- */

a{
    color: white;
    text-underline: none;
    text-decoration: none;
}

a:visited{
    color: white;
    text-underline: none;
}

/* -------------------------------- */

.magicButton{

    text-shadow: black 1px 1px;
    color: white;
    background-color: #b9b9b9;
    border-color: #b9b9b9;
    border-radius: 20px;
    padding: 10px;
    transition: transform .2s ease-in, color .2s ;
}

.magicButton:hover{
    transform: scale(1.2);
    color: red;
}

.button1{
    width: 100%;
    background-color: #b9b9b9;
    border: 0;
    appearance: none;
    color: black;
    font-family: "Segoe UI";
}

.button1:hover{
    background-color: aqua;
}

/* -------------------------------- */

hr{
    width: 100%;
}

/* -------------------------------- */
 #connexion_box{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     border: 1px solid white;
     padding: 30px;
     border-radius: 30px 0 30px 0;
     transition: transform .2s, background-color .2s ;
 }

 #connexion_box:hover{
     transform: scale(1.1);
     filter: ;
     background-color: #3a3b3b;
 }

 #connexion_box input{
     width: 100%;
 }

 #connexion_box a{
     width: 80%;
     opacity: 80%;
     text-align: center;
 }

#connexion_box a:hover{
    width: 80%;
    color: aqua;
}

